@import "~reset-css/sass/_reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

* {
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
.body-wrap{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 277px;
    height: 55px;
    border-radius: 8px;
    background-color: #5b6bc4;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    line-height: 55px;
}

.container {
    width: 100%;
    padding: 0 20px;
}

.title {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #212b35;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(145, 159, 171, 0.2);
    z-index: 10;
    overflow: hidden;
    &__wrap {
        justify-content: space-between;
        align-items: center;
        height: 60px;

    }
    &__btn {
        height: 40px;
        width: 190px;
        line-height: 40px;
        //display: none;
        opacity: 0;
        transform: translateY(25px);
    }
    &.active {
        .logo__text {
            opacity: 0;
        }
        .header__btn {
            opacity: 1;
            transform: translateY(0px);
            transition: .5s all .5s;
        }
    }
}

.logo {
    align-items: center;
    position: relative;
    img {
        margin-right: 5px;
    }
    &__text {
        text-transform: uppercase;
        font: 700 16px 'Open Sans';
        color: #000;
        transition: opacity .5s;
        position: absolute;
        left: 40px;
    }
}

.hero {
    padding-top: 90px;
    text-align: center;
    padding-bottom: 33px;
    &__title {
        margin-bottom: 20px;
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__desc {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: center;
        color: #637380;
        margin-bottom: 20px;
        span {
            font-weight: 600;
        }
    }
}

.advantages {
    background-color: #f4f6f8;
    padding-top: 30px;
    padding-bottom: 15px;
    &__title {
        margin-bottom: 20px;
        span {
            font-style: italic;
        }
    }
}

.acordeon {
    &__title {
        align-items: center;
        flex-wrap: nowrap;
        padding: 15px 20px;
        position: relative;
        &.active {
            &::before {
                transform: rotate(180deg);
            }
        }
        &::before {
            content: '';
            display: block;
            width: 14px;
            height: 8px;
            background-image: url(../img/ic-down.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s;
        }
        p {
            flex: 1;
            padding-right: 15px;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.5px;
            color: #637380;
        }
    }
    &__icon {
        width: 60px;

    }
    &__block {
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__cont {
        height: 0;
        overflow: hidden;
        position: relative;
        transition: all .3s;

        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            width: 100%;
            height: 27px;
            position: absolute;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(196, 205, 213, 0.28), rgba(255, 255, 255, 0));
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
            transform: rotate(180deg);
        }
        &.active {
            height: 237px;
            .acordeon__desc {
                height: 212px;
                overflow: hidden;
            }
        }

    }
    &__desc {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #637380;
        padding: 15px 20px;
    }
}

.cases {
    padding-top: 20px;
    &__title {
        margin-bottom: 20px;
    }
    &-slider {
        &__item {
            position: relative;
            padding: 20px 0 100px 0;
        }
        &__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: 0;
            top: 0;
        }
        &__title {
            position: relative;
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #ffffff;
            margin-bottom: 82px;
        }
        &__about {
            position: relative;
        }
        &__name {
            font-weight: bold;
            margin-bottom: 5px;
        }
        &__name, &__work {
            font-family: 'Open Sans';
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #ffffff;
        }
    }
    .slick-arrow {
        bottom: 0;
        top: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;

        z-index: 9;
        &::before {
            content: '';
            display: block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 8px;
            height: 12px;
            margin: 0 auto;
        }
    }
    .slick-prev {
        left: 20px;
        &::before {
            background-image: url(../img/ic-left.svg);
        }

    }
    .slick-next {
        left: 60px;
        &::before {
            //transform: rotate(180deg);
            background-image: url(../img/ic-right.svg);
        }
    }
    &-price {
        padding: 10px 0 12px 0;
        background-image: url(../img/img-bg-quick-start.png);
        background-size: cover;
        &__title {
            font-family: 'Open Sans';
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 8px;
        }
        &__desc {
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 10px;
            span {
                border: 1px solid #fff;
                padding: 3px;
            }
        }
        &__total {
            font-family: 'Open Sans';
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 10px;
            .new {
                font-size: 42px;
            }
            .old {
                font-size: 30px;
                opacity: 0.5;
                text-decoration: line-through;
                margin-right: 10px;
            }
        }
        &__foot {
            font-family: 'Open Sans';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
        }
        &__fixed{
            position: fixed;
            display: none;
            top:60px;
            width: 100%;
            max-width: 960px;
            &.active{
                display: block;
            }
        }
    }
    &-advantages {
        padding: 30px 0 20px;
        &__list {
            margin-bottom: 20px;
        }
        &__item {
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.6px;
            color: #637380;
            position: relative;
            padding-left: 37px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &::before {
                content: '';
                display: block;
                width: 22.9px;
                height: 18px;
                background-image: url(../img/ic-check.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                position: absolute;
                left: 0;
            }
        }
    }
}

.footer {
    padding: 20px 0 30px;
    background-color: #f4f6f8;
    &__title {
        margin-bottom: 9px;
    }
    &__desc {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: center;
        color: #637380;
        margin-bottom: 30px;
    }
}

.contact {
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        & > a {
            align-items: center;
            font-family: 'Open Sans';
            font-size: 17px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #212b35;
            img {
                margin-right: 20px;
            }
        }
    }
}

.copyright {
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color: #919fab;
    padding: 10px 0 40px 0;
    text-align: center;
}

.form {
    padding: 30px 0;
    &-email {
        border: 1px solid #212b35;
        border-radius: 3px;
        input, button {
            height: 30px;
        }
        btn {
            width: 40px;
        }
        input {
            flex: 1;
        }
    }
}